

{% block content %}
<div class="col-6 mx-auto py-5 text-center">

    <h1 class="display-1"> Thank you for your order.</h1>

</div>
{% endblock %}







<!--&lt;!&ndash;{% if not billing_portfolio %}&ndash;&gt;-->

<!--&lt;!&ndash;<div class="col-12 col-md-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="lead"> Login</p>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;{% else %}&ndash;&gt;-->
<!--<h1>Order: </h1>-->
<!--<p> Total Trade : {{ object.trade.estimated_cost}}</p>-->
<!--<p> Order Total: {{ object.estimated_cost }}</p>-->

<!--&lt;!&ndash;{% endif %}&ndash;&gt;-->

